@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kulim+Park&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .font-primary {
    font-family: 'Kulim Park', sans-serif;
  }
  
  .font-secondary {
    font-family: 'Fredoka', sans-serif;
  }
  .text-shadow {
    text-shadow: 1px 3px 3px gray;
  }
  .content-space {
    content: "";
  }
}

/* Shape Divider */

.custom-shape-divider-bottom-1689354148 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1689354148 svg {
  position: relative;
  display: block;
  width: calc(132% + 1.3px);
  height: 340px;
}

.custom-shape-divider-bottom-1689354148 .shape-fill {
  fill: #BAE6FD;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-bottom-1689354148 svg {
      width: calc(290% + 1.3px);
      height: 200px;
  }
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

:root {
  --primary: #8fb4ff;
  --secondary: #ebf1ff;
  --accent: #ff8f94;
  --text_color: #000000;

  --fs-xl: 4rem;
  --fs-lg: 2rem;
  --fs-700: 1.75rem;
  --fs-600: 1.5rem;
  --fs-400: 1.125rem;
}

@media (min-width: 1580px) {
  :root {
    --fs-xl: 8rem;
    --fs-lg: 4rem;
    --fs-700: 3rem;
    --fs-600: 2rem;
    --fs-500: 1.5rem;
    --fs-400: 1.125rem;
  }
}